{% extends BASE_TEMPLATE %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <style>
        

        

        

        .message {
            font-size: 18px;
            text-align: center;
            line-height: 1.6;
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}
{% block description %}{{ page_description }}{% endblock %}
{% block body %}
    <div class="container">
        <h1>{{ page_title }}</h1>
        <p>
            {{ page_message }}
        </p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                     role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block customJS %}
    <script src="//{{env.APP_HOST}}/static/js/js-utils.js"></script>
{% endblock %}
