
.esc-iwt-entry {
    display:flex;
    justify-content: space-between;
    width:100%;
    gap:64px;
    background-color: #c0fffe20;
    padding: 0px 16px;
    padding-top:16px;
    align-items: start;
}

.esc-iwt-entry.img-right {
    flex-direction: row-reverse;
}

.esc-iwt-image img {
    border-radius: 25px;
    height:320px;  
    transition: 0.5s;
    filter:grayscale(75%);
}
.esc-iwt-entry:hover .esc-iwt-image img {
    transition:0.5s;
    filter:grayscale(0%);
}
.client-description {
    padding:16px;
}
.esc-iwt-details-wrapper {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:start;
    width: 100%;
    padding: 0px 16px;

}
.esc-iwt-body {
    margin-bottom: 16px;
}

@media screen and (max-width: 430px) {
    .esc-iwt-entry:first-of-type(even) {
        flex-direction: column;
    }
    .esc-iwt-entry {
        flex-direction:column!important;

    }
    .esc-iwt-wrapper {
        margin: 0px;
        width:100%;
    }
    .esc-iwt-entry.active {
        transition: opacity 3s ease;

    }
    .esc-iwt-image img {
        border-radius: 25px;
        height:auto;
        width:100%;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}