<html>
    <head>
        <style type="text/css">
            .xyz-header {
                background-color: #008B8B;
                padding: 12px;
            }
            .xyz-header .header-img img {
                height:64px;
            }
        </style>
    </head>
<body>
    <div class="xyz-header">
        <img src="https://abc.apps.elliecee.xyz/static/img/logo.svg">
    </div>
    <div class="body">
        <div class="main-content">
                {% block content %}
                sup
                {% endblock %}
            </div>
        </div>
    </div>
    
</body>
</html>